<!--log commandes page-->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/stock.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">

</head>
<body>
<nav>
    <div class="menu">
        <div class="logo">
            <a href="page%20acceuil%20general.htmlhtml">LOUEvain-Li-Nux</a>
        </div>
        <a class="link" href="page%20gestion%20de%20commande%20-%20Admin.htmlAdmin.html">Gestion de commande</a>
        <a class="link" href="page%20gestion%20de%20stock%20-%20Admin.htmlAdmin.html">Gestion de stock</a>
        <img src="../../public/img/moon.png" id="icon" onclick="dark_mode()">
</nav>

<div class="backg"></div>

<div class="center">
    <div class="title">Historique des commandes:</div>
    <!-- Liste des commandes-->
    <table class=tableau>
        <tr>
            <th>Numéro de commande</th>
            <th>Nom complet du client</th>
            <th>Adresse e-mail du client</th>
            <th>Date sortie</th>
            <th>Date retour</th>
            <th>Date vraie sortie</th>
            <th>Date vrai retour</th>
            <th>Commentaire Admin</th>
        </tr>
        <!--db à rechecker, commentaire char max needs to be fixed-->
        <% for(var i=0; i < count; i++) { %>
        <tr>
            <td><%= commandes[i].CommandeID %></td>
            <td><%= commandes[i].nom_complet %></td>
            <td><%= commandes[i].adresse_mail %></td>
            <td><%= commandes[i].date_sortie %></td>
            <td><%= commandes[i].date_retour %></td>
            <td><%= commandes[i].date_vraie_sortie %></td>
            <td><%= commandes[i].date_vrai_retour %></td>
            <td><%= commandes[i].commentaire_admin %></td>
        </tr>
        <% } %>

    </table>
</div>

<!--meant to be on a seperate js file, my mac refuses access to the file-->
<script>
    // This function allows us to switch from light to dark mode
    function dark_mode() {
        var icon = document.getElementById("icon");
        document.body.classList.toggle("dark-theme");
        if (document.body.classList.contains("dark-theme")) {
            icon.src = "images/sun.png";
        } else {
            icon.src = "images/moon.png";
        }
    }
</script>

</body>
</html>   











