<!--panier - user page-->
<!DOCTYPE html>
<html lang="fr">
<%- include('../partials/head') %>
<head>
    <link rel="stylesheet" href="/css/popup.css">
    <script type="text/javascript" src="/js/popup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>
</head>
<body>
<%- include('../partials/user_navbar') %>
<div class="wrapper">
    <div class="center">
        <div class="title">Votre panier contient les éléments ci-dessous:</div>
        <!-- Liste des commandes-->
        <table id="commande" class=tableau>
            <tr>
                <!-- <th>Catégorie du produit</th> -->
                <th>Produit</th>
                <th>Quantité</th>
                <th>Date sortie</th>
                <th>Date retour</th>
            </tr>
            <% if (cart !== undefined ) { %>
                <% for(element in cart) { %>
                    <tr>
                        <td><%= cart[element]["name"] %></td>
                        <td><%= cart[element]["quantity"] %></td>
                        <td><%= cart[element]["start_date"] %></td>
                        <td><%= cart[element]["end_date"] %></td>
                        <td>
                            <form action="/remove_from_cart" method="post">
                                <input type="hidden" name="product" value="<%= element %>">
                                <button>🗑️</button>
                            </form>
                        </td>
                    </tr>
            <% } } %>
        </table>
        <button class="log" onclick="toggle_popup()">Confirmer la commande</button>
        
    </div>
    <div id="popup" class="popup_div">
        <div class="center">
             <div class="main">
                 <button class="popup_close" onclick="toggle_popup()"><span aria-hidden="true">&times;</span></button>
                 <div class="signup">
                     <form action="/new_order" method="post">
                     <form action="/new_order" onsubmit="generatePDF();" id="user_info_form" method="post">
                         <label class="title_label">Veuillez remplir les champs ci-dessous:</label>
                         <input class="in" type="text" name="name" placeholder="Nom complet" required>
                         <input class="in" type="text" name="email" placeholder="Adresse mail" required>
                         <input class="in" type="text" name="phone_number" placeholder="GSM sous la forme +32" required>
                         <input class="in" type="text" name="address" placeholder="Adresse complete" required>
                         <button class="log">Soumettre</button>
                     </form>
                 </div>
             </div>

 </div>

<script>
    function generatePDF() {
        var pdf = new jsPDF
        var date_t = new Date();
        var date = new Date(date_t.getTime() + 24 * 60 * 60 * 1000).toISOString().substring(0, 10);
        var img = new Image()
        img.src = 'img/llln.png'

        pdf.addImage(img, 'png', 14, 13, 10, 10)
        pdf.setFontSize(30).setTextColor(47, 64, 109).text("LOUEvain-Li-Nux", 24, 22);
        pdf.setFontSize(15).setFontStyle("italic").text("kot Louvain Linux", 160, 22);
        pdf.setFontSize(13).setFontStyle("italic").text("Le: " + date, 170, 32);
        pdf.setFontSize(16).setFontStyle("bold").text("La  commande que vous avez passé contient les éléments suivants:", 16, 90);
        var table = document.getElementById('commande');
        var b = 0;
        var c = 120;

        for (var i = 0; i < table.rows.length; i++) {
            b+=1;
         for (var j = 0; j < table.rows[i].cells.length; j++) {
             var cellContent = table.rows[i].cells[j].innerHTML;
             console.log(i);
             console.log(table.rows[i].cells[j].innerHTML);
            if (b==15){
                pdf.addPage();
                b = 1;
                c = 20;
            }
            if (i<1){
                pdf.setFontStyle("normal").text(cellContent + " :", 17+(j*50), 110);
            } else if (i == 1){
                pdf.setFontSize(10).setFontStyle("normal").text(cellContent, 20+(j*50), c+(b*10));
            } else {
                pdf.setFontStyle("normal").text(cellContent, 20+(j*50), c+(b*10));
            }
            
         }}

         pdf.save('reçu.pdf');
    }
</script>
</body>
</html>     